<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217542407237-g3kg8u8l04e9762sq1l9qea2ngc69jrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217542407237-g3kg8u8l04e9762sq1l9qea2ngc69jrk</string>
	<key>API_KEY</key>
	<string>AIzaSyCQQMLHz7zKWbI0hR8StfzfmwyFi28LC-8</string>
	<key>GCM_SENDER_ID</key>
	<string>217542407237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yanniyiannakidi.To-Do-List</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-e980c</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-e980c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217542407237:ios:79ab9733c0b5d1ed0e5f2c</string>
</dict>
</plist>